server {
       listen 80;
       listen [::]:80;

       server_name default_server;
       

       location /static/ {
            root {{ cwd }};
            try_files $uri $uri/ =404;
       }

       location / {
            proxy_pass http://127.0.0.1:8080/;
       }
}
